* {
    font-family: "Raleway";
}

a {
    color: inherit;
    text-decoration: none;
}

/* header ----------- */

.global_nav {
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

#logo {
    width: 200px;
}

.logo .sub_nav {
    display: flex;
    justify-content: flex-end;
}

.sub_nav {
    padding: 0px;
}

.sub_nav a {
    padding: 10px;
    margin: -2px;
}

.sub_nav a:hover {
    border-top: 3px solid #0065fc;
    color: #0065fc;
}

/* search bar ----------- */

.bar_search {
    display: flex;
    align-items: center;
}

.logo_loc {
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 10px 0 0 10px;
}

.search_form input {
    border: 1px solid #F2F2F2;
    padding: 10px;
    border-radius: 0 10px 10px 0;
}

.search_form ::placeholder {
    font-weight: bold;
    color: black;
}

.search_button_desktop button {
    padding: 10px;
    border-radius: 0 10px 10px 0;
    background-color: #0065fc;
    color: white;
    border-style: none;
    font-weight: bold;
    cursor: pointer;
}

.search_button_phone {
    display: none;
}

/* Filter ----------- */

.global_filter {
    display: flex;
    align-items: center;
    
}

.global_filter :hover 
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0065fc;
    color: white;
}
.global_global{
    display: flex;
    align-items: center;
}

.titre_filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px;
    height: 43px;
    width: 100%;
}

.button_with_icon {
    border-radius: 50px;
    border: 1px solid #F2F2F2;
    margin: 0 25px 0 25px;
    padding: 0 10px 0 0;
    height: 43px;
}

#bill {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #0065fc;
    border: 1px solid #DEEBFF;
    border-radius: 50%;
    background-color: #DEEBFF;
    margin: -1px;
    width: 40px;
    height: 25px;
}

.filter_bill {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#child {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #0065fc;
    border: 1px solid #DEEBFF;
    border-radius: 50%;
    background-color: #DEEBFF;
    margin: -1px;
    width: 50px;
    height: 25px;
}

.filter_child {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#heart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #0065fc;
    border: 1px solid #DEEBFF;
    border-radius: 50%;
    background-color: #DEEBFF;
    margin: -1px;
    width: 40px;
    height: 25px;
}

.filter_heart {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#dog {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #0065fc;
    border: 1px solid #DEEBFF;
    border-radius: 50%;
    background-color: #DEEBFF;
    margin: -1px;
    width: 40px;
    height: 25px;
}

.filter_dog {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #0065fc;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.filter_info {
    align-items: flex-start;
    background-color: wheat;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 25px;
}

/* Accommodation_city----------- */

.global_card {
    display: flex;
    margin-top: 50px;
    border-radius: 25px;
}

.chamber_city {
    border: 3px solid yellowgreen;
    background-color: #F2F2F2;
    border-radius: 15px;
    flex-basis: 66%;
    margin-right: 50px;
}

.most_popular {
    border: 3px solid red;
    background-color: #F2F2F2;
    border-radius: 15px;
    flex-basis: 33%;
}

/* Tablet ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 992px) {}

/* Phone ----------- */

@media only screen and (max-device-width: 768px) {
    .global_nav {
        flex-direction: column;
        background-color: yelowgreen;
    }
    .sub_nav {
        background-color: toato;
    }
    .sub_nav a {
        border-bottom: 3px solid #F2F2F2;
        margin: -2px;
    }
    .sub_nav a:hover {
        border-bottom: 3px solid #0065fc;
        border-top: none;
    }
    /*--bar search--*/
    .bar_search {
        justify-content: center;
    }
    .search_button_phone {
        display: inline;
        background-color: #0065fc;
        padding: 10px;
        border-radius: 10px 10px 10px 10px;
        border-style: none;
    }
    .search_button_desktop {
        display: none;
    }
    #glass {
        background-color: #0065fc;
        color: white;
    }
    /* Filter ----------- */
    .global_filter {
        flex-wrap: wrap
    }
}